body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
    border-width: 1px;
    border-radius: 4px;
}

.chat {
    border-radius: 4px;
    border: 2px solid #3333;
    padding: 8px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat div:last-child {
    padding: 8px;
}

.chat .username a {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-weight: 800;
}

.chat .username a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}

datalist {
    position: absolute;
    background-color: white;
    font-family: Tahoma;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px #3339;
    padding: 8px 0;
  }

  datalist option {
    padding: 12px;
    cursor: pointer;
  }

  datalist option:hover {
      background-color: #bbb;
  }

  input[type="text"] {
    outline: none;
    box-shadow: 0px -0px 0px #069 inset;
    transition: box-shadow 0.1s;
  }

  #roomSelect {
    height: 24px;
    padding: 4px;
    margin-right: 16px;
    padding-right: 24px;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    border: 1px solid #999;
  }

  #roomSelect:hover {
    border-color: #666;
  }

  #roomSelect:focus, form input[type="text"]:focus {
      outline:none;
      box-shadow: 0px -1px #069 inset;
  }



  [list]::-webkit-calendar-picker-indicator {
      display: none;
      visibility: hidden;
  }

  button.dropdown {
    all: unset;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    width: 22px;
    height: 22px;
    margin-top:1px;
    position: absolute;
    margin-left: -43px;
    padding: 2px;
    cursor: pointer;
    border: 1px solid transparent;
    box-sizing: border-box;
    text-align: center;
    z-index:12;
    color: #eee;
    text-shadow: 0px 0px 2px #333;
  }

  button.dropdown:hover, button.dropdown.dropdownVisible {
      background: #06f9;
  }

